Repository stackhpc/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal, kolla-ansible-ubuntu-source-kvm

Path conditions:
  kolla-base: unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$
  kolla-build-no-infra-wheels-base: unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$
  kolla-ansible-debian-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-rocky9-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-rocky9-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-rocky9-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-rocky9-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-rocky9-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-prometheus-opensearch: any of: ^docker/(base|opensearch|fluentd|grafana|prometheus)/
  kolla-ansible-rocky9-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-source-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-ubuntu-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-source-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-ubuntu-source-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-ubuntu-source-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-source-linuxbridge-focal: any of: ^docker/(base|neutron|openstack-base)/
  kolla-ansible-ubuntu-source-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-prometheus-efk-focal: any of: ^docker/(base|elasticsearch|fluentd|grafana|kibana|prometheus)/
  kolla-ansible-ubuntu-source-kvm: any of: ^docker/nova/

Bump Ansible to 12 and ansible-core to 2.19
  docker/bifrost/bifrost-base/Dockerfile.j2
  docker/kolla-toolbox/Dockerfile.j2
  test-requirements.txt
Due: kolla-base, kolla-build-no-infra-wheels-base

Bump versions of packages in sources.py
  kolla/common/sources.py
  releasenotes/notes/update-packages-071d1863639fe3e3.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base

Add Valkey
  docker/valkey/valkey-base/Dockerfile.j2
  docker/valkey/valkey-base/extend_start.sh
  docker/valkey/valkey-sentinel/Dockerfile.j2
  docker/valkey/valkey-sentinel/extend_start.sh
  docker/valkey/valkey-server/Dockerfile.j2
  kolla/common/users.py
Due: kolla-base, kolla-build-no-infra-wheels-base

neutron-metadata-agent: copy wrapper script for haproxy processes
  docker/neutron/neutron-metadata-agent/Dockerfile.j2
  docker/neutron/neutron-metadata-agent/extend_start.sh
  releasenotes/notes/neutron-metadata-agent-wrapper-scripts-d6163080d169ea14.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Drop Venus images
  README.rst
  docker/horizon/extend_start.sh
  docker/venus/venus-api/Dockerfile.j2
  docker/venus/venus-api/extend_start.sh
  docker/venus/venus-base/Dockerfile.j2
  docker/venus/venus-base/extend_start.sh
  docker/venus/venus-manager/Dockerfile.j2
  kolla/common/sources.py
  kolla/common/users.py
  releasenotes/notes/drop-venus-435234b3bff7f209.yaml
  roles/kolla-build-config/defaults/main.yml
Due: kolla-base, kolla-build-no-infra-wheels-base

Tidy up release notes for Flamingo release
  releasenotes/notes/deprecate-collectd-8ba94052bdc9424b.yaml
  releasenotes/notes/deprecate-telegraf-db2b0b9f30591552.yaml
  releasenotes/notes/drop-venus-435234b3bff7f209.yaml
  releasenotes/notes/flamingo-prelude-b72f2599ed9d25d5.yaml
  releasenotes/notes/fluentd-update-8db10e760b2dc4d5.yaml
  releasenotes/notes/mariadb-11.4-b66b5baf9f5e6cd0.yaml
  releasenotes/notes/opensearch-upgrade-9e263a65f015a376.yaml
  releasenotes/notes/rabbitmq-41-d881d0b6bbf46446.yaml
  releasenotes/notes/remove-prometheus-ovn-exporter-c5f5005b4d1a4b12.yaml
  releasenotes/notes/rocky-10-4111fa0160be14ab.yaml
  releasenotes/notes/update-packages-071d1863639fe3e3.yaml
Due: none

Remove container image of neutron-linuxbridge-agent
  docker/neutron/neutron-linuxbridge-agent/Dockerfile.j2
  releasenotes/notes/drop-neutron-linuxbridge-agent-5c4596f148c143ed.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

horizon: unpin pip and setuptools
  docker/horizon/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Add httpd image for OIDC/SAML frontend in uWSGI case
  docker/httpd/Dockerfile.j2
  docker/httpd/extend_start.sh
Due: kolla-base, kolla-build-no-infra-wheels-base

mariadb: Bump to 11.4
  docker/mariadb-server/Dockerfile.j2
  docker/mariadb-server/backup_replica.sh
  docker/mariadb-server/extend_start.sh
  kolla/template/repos.yaml
  releasenotes/notes/mariadb-11.4-b66b5baf9f5e6cd0.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base

horizon: pin pip to <25.3
  docker/horizon/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

CI: Fix publish secret for arm64
  zuul.d/debian.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base

debian: use valkey from bookworm-backports
  docker/valkey/valkey-sentinel/Dockerfile.j2
  docker/valkey/valkey-server/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

CI: Fix missing variable in publish jobs
  zuul.d/debian.yaml
  zuul.d/rocky.yaml
  zuul.d/ubuntu.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base

[2024.1-only] Bump taskflow version for glance to 5.8.0 in Ubuntu Noble
  docker/glance/glance-base/Dockerfile.j2
  releasenotes/notes/taskflow_bump_glance-21e7652d218767d7.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-swift, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-swift

Fix permissions for ironic metrics
  docker/ironic/ironic-base/Dockerfile.j2
  docker/ironic/ironic-base/extend_start.sh
  docker/ironic/ironic-base/ironic_sudoers
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-ironic, kolla-ansible-ubuntu-source-ironic

bifrost: Mark as unbuildable
  .zuul.d/project.yaml
  .zuul.d/python3-jobs.yaml
  kolla/image/unbuildable.py
Due: kolla-base, kolla-build-no-infra-wheels-base

Transition to the new rabbitmq Debian package archives.
  docker/base/Dockerfile.j2
  kolla/template/repos.yaml
  kolla/tests/test_methods.py
  releasenotes/notes/handle-deprecated-rabbitmq-package-archive-47548e7a41baa68b.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

Drop less standard panel plugins
  docker/horizon/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Use custom source code for Cloudkitty dashboard
  docker/horizon/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Drop less used Horizon plugins
  docker/horizon/Dockerfile.j2
  releasenotes/notes/drop-horizon-plugins-f6f4d2e50b1adc3b.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base

redis: Drop redis and redis-sentinel images
  README.rst
  doc/source/matrix_aarch64.csv
  doc/source/matrix_x86.csv
  docker/redis/redis-base/Dockerfile.j2
  docker/redis/redis-base/extend_start.sh
  docker/redis/redis-sentinel/Dockerfile.j2
  docker/redis/redis-sentinel/extend_start.sh
  docker/redis/redis/Dockerfile.j2
  kolla/common/config.py
  kolla/common/users.py
  kolla/image/unbuildable.py
  releasenotes/notes/drop-redis-d286ca1237747c48.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base

manila: Stop enabling kolla_el10 COPR repo
  docker/manila/manila-share/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

neutron: Remove networking-generic-switch from u-c
  docker/neutron/neutron-base/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Revert "Switch to 2025.2 release"
  kolla/common/config.py
Due: kolla-base, kolla-build-no-infra-wheels-base

mariadb: Switch EL to mariadb upstream repos
  docker/mariadb-server/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Update .gitreview for unmaintained/2024.1
  .gitreview
Due: none

Add support for CentOS Stream 10
  .zuul.d/base.yaml
  .zuul.d/centos.yaml
  docker/base/Dockerfile.j2
  docker/base/influxdb.repo
  docker/base/kolla_el10.repo
  docker/base/proxysql.repo
  docker/base/td.repo
  docker/ironic/ironic-conductor/Dockerfile.j2
  docker/keystone/keystone-base/Dockerfile.j2
  docker/keystone/keystone-ssh/extend_start.sh
  docker/kolla-toolbox/Dockerfile.j2
  docker/kuryr/kuryr-libnetwork/Dockerfile.j2
  docker/manila/manila-base/Dockerfile.j2
  docker/manila/manila-share/Dockerfile.j2
  docker/neutron/neutron-base/Dockerfile.j2
  docker/neutron/neutron-mlnx-agent/Dockerfile.j2
  docker/nova/nova-base/Dockerfile.j2
  docker/nova/nova-compute-ironic/Dockerfile.j2
  docker/nova/nova-libvirt/Dockerfile.j2
  docker/nova/nova-ssh/extend_start.sh
  docker/octavia/octavia-base/Dockerfile.j2
  docker/opensearch/opensearch-dashboards/Dockerfile.j2
  docker/opensearch/opensearch/Dockerfile.j2
  docker/openstack-base/Dockerfile.j2
  docker/openvswitch/openvswitch-base/Dockerfile.j2
  docker/ovn/ovn-base/Dockerfile.j2
  docker/ovn/ovn-controller/Dockerfile.j2
  docker/ovn/ovn-nb-db-server/Dockerfile.j2
  docker/ovn/ovn-northd/Dockerfile.j2
  docker/ovn/ovn-sb-db-server/Dockerfile.j2
  docker/zun/zun-cni-daemon/Dockerfile.j2
  kolla/common/config.py
  kolla/image/kolla_worker.py
  kolla/image/unbuildable.py
  kolla/template/methods.py
  kolla/template/repos-el10.yaml
  tests/playbooks/run.yml
  tests/templates/template_overrides.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal, kolla-ansible-ubuntu-source-kvm

Add support for Rocky Linux 10
  .zuul.d/base.yaml
  .zuul.d/rocky.yaml
  doc/source/ceph_versions.csv
  doc/source/contributor/versions.rst
  doc/source/support_matrix.rst
  docker/base/Dockerfile.j2
  docker/ironic/ironic-conductor/Dockerfile.j2
  docker/keystone/keystone-base/Dockerfile.j2
  docker/kolla-toolbox/Dockerfile.j2
  docker/kuryr/kuryr-libnetwork/Dockerfile.j2
  docker/manila/manila-base/Dockerfile.j2
  docker/manila/manila-share/Dockerfile.j2
  docker/neutron/neutron-base/Dockerfile.j2
  docker/neutron/neutron-mlnx-agent/Dockerfile.j2
  docker/nova/nova-base/Dockerfile.j2
  docker/nova/nova-compute-ironic/Dockerfile.j2
  docker/nova/nova-libvirt/Dockerfile.j2
  docker/octavia/octavia-base/Dockerfile.j2
  docker/opensearch/opensearch-dashboards/Dockerfile.j2
  docker/opensearch/opensearch/Dockerfile.j2
  docker/openstack-base/Dockerfile.j2
  docker/openvswitch/openvswitch-base/Dockerfile.j2
  docker/ovn/ovn-base/Dockerfile.j2
  docker/ovn/ovn-controller/Dockerfile.j2
  docker/ovn/ovn-nb-db-server/Dockerfile.j2
  docker/ovn/ovn-northd/Dockerfile.j2
  docker/ovn/ovn-sb-db-server/Dockerfile.j2
  docker/zun/zun-cni-daemon/Dockerfile.j2
  kolla/common/config.py
  kolla/image/kolla_worker.py
  kolla/image/unbuildable.py
  kolla/template/methods.py
  kolla/template/repos-el10.yaml
  releasenotes/notes/rocky-10-epoxy-65b8315a10fa0096.yaml
  tests/templates/template_overrides.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal, kolla-ansible-ubuntu-source-kvm

Re-add Trove dashboard for evaluation
  docker/horizon/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Add genisoimage package to nova-compute-ironic
  docker/nova/nova-compute-ironic/Dockerfile.j2
  releasenotes/notes/bug-2132960-genisoimage_package_nova-compute-ironic-28f4c262ec201f99.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-source-kvm

Transition to the new rabbitmq Debian package archives.
  docker/base/Dockerfile.j2
  kolla/template/repos-noble.yaml
  kolla/template/repos.yaml
  kolla/tests/test_methods.py
  releasenotes/notes/handle-deprecated-rabbitmq-package-archive-47548e7a41baa68b.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

[unmaintained/2024.1 only] Fix the tarballs pointer
  kolla/common/config.py
Due: kolla-base, kolla-build-no-infra-wheels-base

Add Valkey
  docker/valkey/valkey-base/Dockerfile.j2
  docker/valkey/valkey-base/extend_start.sh
  docker/valkey/valkey-sentinel/Dockerfile.j2
  docker/valkey/valkey-sentinel/extend_start.sh
  docker/valkey/valkey-server/Dockerfile.j2
  kolla/common/users.py
  kolla/image/unbuildable.py
Due: kolla-base, kolla-build-no-infra-wheels-base

setup.cfg: Update Python versions according to Flamingo PTI
  setup.cfg
Due: kolla-base, kolla-build-no-infra-wheels-base

kolla-toolbox: Bump ansible-core to 2.20
  docker/kolla-toolbox/Dockerfile.j2
  releasenotes/notes/ansible-core-2-20-bd912e1767d5f197.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base

Switch to Debian Trixie
  doc/source/support_matrix.rst
  docker/base/apt_preferences.debian
  docker/base/debian.sources
  docker/httpd/Dockerfile.j2
  docker/openstack-base/Dockerfile.j2
  docker/valkey/valkey-sentinel/Dockerfile.j2
  docker/valkey/valkey-server/Dockerfile.j2
  kolla/common/config.py
  kolla/image/unbuildable.py
  kolla/template/repos.yaml
  kolla/tests/test_methods.py
  releasenotes/notes/debian-trixie-23987480043dc662.yaml
  zuul.d/debian.yaml
  zuul.d/nodesets.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal
