Repository stackhpc/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal, kolla-ansible-ubuntu-source-kvm

kolla-base:
  parent: base
  timeout: 10800
  post-timeout: 10800
  pre-run: tests/playbooks/pre.yml
  run: tests/playbooks/run.yml
  post-run: tests/playbooks/post.yml
  attempts: 5
  vars:
    publisher: false
  extra-vars:
    kolla_logs_dir: '{{ zuul_output_dir }}/logs/kolla'
    kolla_build_logs_dir: '{{ kolla_logs_dir }}/build'
  ...

kolla-build-no-infra-wheels-base:
  parent: kolla-base
  vars:
    use_infra_wheels_mirror: false

debian: Switch to deb822
  docker/base/Dockerfile.j2
  docker/base/debian.sources
  docker/base/sources.list.debian
  docker/base/sources.list.ubuntu
  docker/base/sources.list.ubuntu.aarch64
  docker/base/ubuntu.sources
  docker/base/ubuntu.sources.arm64
  releasenotes/notes/deb822-3f0435dfce6da841.yaml
  tests/templates/template_overrides.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

CI: add rocky-10 kolla-ansible jobs
  zuul.d/scenarios/aio.yaml
  zuul.d/scenarios/bifrost.yaml
  zuul.d/scenarios/cells.yaml
  zuul.d/scenarios/cephadm.yaml
  zuul.d/scenarios/ironic.yaml
  zuul.d/scenarios/mariadb.yaml
  zuul.d/scenarios/masakari.yaml
  zuul.d/scenarios/ovn.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base

mariadb: Sync packages across distros
  docker/mariadb-server/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Revert "kolla-toolbox: Bump ansible-core to 2.20"
  docker/kolla-toolbox/Dockerfile.j2
  releasenotes/notes/ansible-core-2-20-bd912e1767d5f197.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base

CI: Add ^docker/ trigger for aio jobs
  zuul.d/scenarios/aio.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base

Install iptables-nft explicitly
  docker/neutron/neutron-base/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Revert "Install iptables-nft explicitly"
  docker/neutron/neutron-base/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Install iptables-nft in Rocky 9 containers
  docker/base/Dockerfile.j2
  docker/neutron/neutron-base/Dockerfile.j2
  releasenotes/notes/fixes-missing-iptables-nft-fd71eeee04c9345e.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

Revert "Install iptables-nft in Rocky 9 containers"
  docker/base/Dockerfile.j2
  docker/neutron/neutron-base/Dockerfile.j2
  releasenotes/notes/fixes-missing-iptables-nft-fd71eeee04c9345e.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

Pin Grafana package to version 13
  docker/grafana/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-prometheus-efk-focal

feat: automatic update of workflows master
  .github/workflows/upstream-sync.yml
Due: none

feat: automatic update of workflows stackhpc/2026.1
  .github/workflows/tag-and-release.yml
  .github/workflows/tox.yml
Due: none

feat: automatic update of community files stackhpc/2026.1
  .github/CODEOWNERS
Due: none

[2025.2 and older] Create Ironic temp directory
  docker/ironic/ironic-base/extend_start.sh
  releasenotes/notes/fix-bug-2156758-4bbeb2ee873cba47.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-ironic, kolla-ansible-ubuntu-source-ironic

kolla-build: Add Docker BuildKit support via docker buildx build
  doc/source/admin/image-building.rst
  kolla/common/config.py
  kolla/common/utils.py
  kolla/image/build.py
  kolla/image/tasks.py
  kolla/tests/test_build.py
  releasenotes/notes/add-buildkit-support-via-buildx-c4fda2286c2d7d1e.yaml
  roles/kolla-build-deps/tasks/main.yml
Due: kolla-base, kolla-build-no-infra-wheels-base

repos: Merge user-provided with default repos.yaml
  kolla/common/config.py
  kolla/template/methods.py
Due: kolla-base, kolla-build-no-infra-wheels-base

Add support to override base repos
  doc/source/admin/image-building.rst
  docker/base/Dockerfile.j2
  docker/base/ubuntu.sources
  kolla/common/config.py
  kolla/template/methods.py
  kolla/template/repos.yaml
  kolla/tests/test_methods.py
  releasenotes/notes/base-repos-in-yaml-f6a4a871da92c823.yaml
  roles/kolla-build/defaults/main.yml
  roles/kolla-build/tasks/main.yml
  tests/playbooks/run.yml
  tests/templates/repos.yaml.j2
  tests/templates/template_overrides.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

CI: Remove npm proxy configuration
  tests/templates/template_overrides.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Move PIP_* env variables to ARG and config
  doc/source/admin/image-building.rst
  docker/base/Dockerfile.j2
  kolla/common/config.py
  kolla/image/kolla_worker.py
  kolla/image/tasks.py
  roles/kolla-build/defaults/main.yml
  roles/kolla-build/tasks/main.yml
  tests/playbooks/run.yml
  zuul.d/base.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

Add cleanup_repos to revert build_only overrides
  doc/source/admin/image-building.rst
  kolla/image/kolla_worker.py
  kolla/template/methods.py
  kolla/tests/test_methods.py
  tests/templates/repos.yaml.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

[DNM] Bump Prometheus server to 3.13.0
  kolla/common/sources.py
Due: kolla-base, kolla-build-no-infra-wheels-base

Revert "Add cleanup_repos to revert build_only overrides"
  doc/source/admin/image-building.rst
  kolla/image/kolla_worker.py
  kolla/template/methods.py
  kolla/tests/test_methods.py
  tests/templates/repos.yaml.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

tweak methods.py
  kolla/template/methods.py
Due: kolla-base, kolla-build-no-infra-wheels-base

Path conditions:
  kolla-base: unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$
  kolla-build-no-infra-wheels-base: unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$
  kolla-ansible-debian-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-rocky9-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-rocky9-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-rocky9-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-rocky9-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-rocky9-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-prometheus-opensearch: any of: ^docker/(base|opensearch|fluentd|grafana|prometheus)/
  kolla-ansible-rocky9-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-source-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-ubuntu-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-source-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-ubuntu-source-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-ubuntu-source-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-source-linuxbridge-focal: any of: ^docker/(base|neutron|openstack-base)/
  kolla-ansible-ubuntu-source-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-prometheus-efk-focal: any of: ^docker/(base|elasticsearch|fluentd|grafana|kibana|prometheus)/
  kolla-ansible-ubuntu-source-kvm: any of: ^docker/nova/
