Repository stackhpc/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal, kolla-ansible-ubuntu-source-kvm

kolla-base:
  parent: base
  timeout: 10800
  post-timeout: 10800
  pre-run: tests/playbooks/pre.yml
  run: tests/playbooks/run.yml
  post-run: tests/playbooks/post.yml
  attempts: 5
  vars:
    publisher: false
  extra-vars:
    kolla_logs_dir: '{{ zuul_output_dir }}/logs/kolla'
    kolla_build_logs_dir: '{{ kolla_logs_dir }}/build'
  ...

kolla-build-no-infra-wheels-base:
  parent: kolla-base
  vars:
    use_infra_wheels_mirror: false

update debian release in support matrix
  doc/source/support_matrix.rst
Due: none

CI: use opendevmirror for debian/ubuntu builds
  tests/playbooks/run.yml
Due: kolla-base, kolla-build-no-infra-wheels-base

Bump libvirt exporter
  kolla/common/sources.py
Due: kolla-base, kolla-build-no-infra-wheels-base

Remove RDO/Delorean
  doc/source/admin/image-building.rst
  doc/source/contributor/release-management.rst
  docker/base/Dockerfile.j2
  docker/kolla-toolbox/Dockerfile.j2
  docker/kuryr/kuryr-libnetwork/Dockerfile.j2
  docker/manila/manila-base/Dockerfile.j2
  docker/neutron/neutron-base/Dockerfile.j2
  docker/nova/nova-base/Dockerfile.j2
  docker/nova/nova-libvirt/Dockerfile.j2
  docker/octavia/octavia-base/Dockerfile.j2
  docker/openstack-base/Dockerfile.j2
  docker/openvswitch/openvswitch-base/Dockerfile.j2
  docker/ovn/ovn-base/Dockerfile.j2
  docker/ovn/ovn-controller/Dockerfile.j2
  docker/ovn/ovn-nb-db-server/Dockerfile.j2
  docker/ovn/ovn-northd/Dockerfile.j2
  docker/ovn/ovn-sb-db-server/Dockerfile.j2
  docker/zun/zun-cni-daemon/Dockerfile.j2
  kolla/common/config.py
  releasenotes/notes/drop-delorean-c0bd3229162faef0.yaml
  tests/templates/template_overrides.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal, kolla-ansible-ubuntu-source-kvm

[release] Use Flamingo Ubuntu Cloud Archive
  docker/base/sources.list.ubuntu
  docker/base/sources.list.ubuntu.aarch64
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

CI: Drop dump_info.sh
  roles/kolla-build-deps/tasks/main.yml
  tests/playbooks/post.yml
  tools/dump_info.sh
Due: kolla-base, kolla-build-no-infra-wheels-base

Revert "zuul: make failing job temporarily non-voting"
  .zuul.d/debian.yaml
Due: none

mariadb: Bump to 11.8
  docker/base/mariadb.repo
  docker/mariadb/mariadb-base/Dockerfile.j2
  docker/mariadb/mariadb-base/clustercheck.sh
  docker/mariadb/mariadb-server/backup_replica.sh
  docker/mariadb/mariadb-server/extend_start.sh
  kolla/template/repos.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

WIP: Add database restore backup command
  docker/mariadb/mariadb-server/prep_restore_backup.sh
  docker/mariadb/mariadb-server/restore_backup.sh
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-mariadb, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-mariadb

Test log-bin option
  docker/mariadb/mariadb-server/backup_replica.sh
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-mariadb, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-mariadb

gnocchi: Bump to 4.7.0
  kolla/common/sources.py
  releasenotes/notes/gnocchi-4_7_0-fdb7f76d367ee435.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base

cinder: Remove wsgi script handling
  docker/cinder/cinder-api/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun

CI: Use UCA mirror for Ubuntu
  tests/templates/template_overrides.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Drop ironic-inspector
  docker/bifrost/bifrost-base/Dockerfile.j2
  docker/ironic-inspector/Dockerfile.j2
  docker/ironic-inspector/extend_start.sh
  docker/ironic-inspector/ironic_inspector_sudoers
  kolla/common/sources.py
  kolla/common/users.py
  releasenotes/notes/drop-ironic-inspector-093cc36e06787168.yaml
  roles/kolla-build-config/defaults/main.yml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-ironic, kolla-ansible-ubuntu-source-ironic

mariadb: Bump to 11.4
  docker/base/mariadb.repo
  docker/mariadb/mariadb-base/Dockerfile.j2
  docker/mariadb/mariadb-clustercheck/Dockerfile.j2
  docker/mariadb/mariadb-clustercheck/extend_start.sh
  docker/mariadb/mariadb-clustercheck/socat_wrapper.sh
  docker/mariadb/mariadb-server/backup_replica.sh
  docker/mariadb/mariadb-server/extend_start.sh
  kolla/template/repos.yaml
  releasenotes/notes/mariadb-11.4-b66b5baf9f5e6cd0.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

Add MariaDB healthcheck.sh
  docker/mariadb/mariadb-base/Dockerfile.j2
  kolla/common/sources.py
  releasenotes/notes/add-mariadb-healthcheck-script-916e5ad7a216e05e.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-mariadb, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-mariadb

test
  docker/mariadb/mariadb-base/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-mariadb, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-mariadb

neutron: keepalived wrapper script does not rm containers
  docker/neutron/neutron-base/keepalived
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

doc: Fix Ubuntu Ceph version
  doc/source/ceph_versions.csv
Due: none

repos: Deduplicate repos.yaml
  kolla/template/methods.py
  kolla/template/repos.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base

Drop support for building MariaDB clustercheck
  docker/mariadb-server/Dockerfile.j2
  docker/mariadb-server/backup.sh
  docker/mariadb-server/backup_replica.sh
  docker/mariadb-server/extend_start.sh
  docker/mariadb-server/healthcheck_mariadb
  docker/mariadb-server/mariadb_sudoers
  docker/mariadb-server/security_reset.expect
  docker/mariadb/mariadb-base/Dockerfile.j2
  docker/mariadb/mariadb-clustercheck/Dockerfile.j2
  docker/mariadb/mariadb-clustercheck/extend_start.sh
  docker/mariadb/mariadb-clustercheck/socat_wrapper.sh
  kolla/common/sources.py
  releasenotes/notes/remove-mariadb-clustercheck-427a6cfb3f39c508.yaml
  zuul.d/scenarios/cephadm.yaml
  zuul.d/scenarios/mariadb.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-mariadb, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-mariadb

Hacking
  docker/horizon/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Bump versions of packages in sources.py
  kolla/common/sources.py
  releasenotes/notes/update-packages-071d1863639fe3e3.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base

Add Valkey
  docker/valkey/valkey-base/Dockerfile.j2
  docker/valkey/valkey-base/extend_start.sh
  docker/valkey/valkey-sentinel/Dockerfile.j2
  docker/valkey/valkey-sentinel/extend_start.sh
  docker/valkey/valkey-server/Dockerfile.j2
  kolla/common/users.py
Due: kolla-base, kolla-build-no-infra-wheels-base

mariadb: Bump to 11.4
  docker/mariadb-server/Dockerfile.j2
  docker/mariadb-server/backup_replica.sh
  docker/mariadb-server/extend_start.sh
  kolla/template/repos.yaml
  releasenotes/notes/mariadb-11.4-b66b5baf9f5e6cd0.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base

Tidy up release notes for Flamingo release
  releasenotes/notes/deprecate-collectd-8ba94052bdc9424b.yaml
  releasenotes/notes/deprecate-telegraf-db2b0b9f30591552.yaml
  releasenotes/notes/drop-venus-435234b3bff7f209.yaml
  releasenotes/notes/flamingo-prelude-b72f2599ed9d25d5.yaml
  releasenotes/notes/fluentd-update-8db10e760b2dc4d5.yaml
  releasenotes/notes/mariadb-11.4-b66b5baf9f5e6cd0.yaml
  releasenotes/notes/opensearch-upgrade-9e263a65f015a376.yaml
  releasenotes/notes/rabbitmq-41-d881d0b6bbf46446.yaml
  releasenotes/notes/remove-prometheus-ovn-exporter-c5f5005b4d1a4b12.yaml
  releasenotes/notes/rocky-10-4111fa0160be14ab.yaml
  releasenotes/notes/update-packages-071d1863639fe3e3.yaml
Due: none

Bump Ansible to 12 and ansible-core to 2.19
  docker/bifrost/bifrost-base/Dockerfile.j2
  docker/kolla-toolbox/Dockerfile.j2
  test-requirements.txt
Due: kolla-base, kolla-build-no-infra-wheels-base

neutron-metadata-agent: copy wrapper script for haproxy processes
  docker/neutron/neutron-metadata-agent/Dockerfile.j2
  docker/neutron/neutron-metadata-agent/extend_start.sh
  releasenotes/notes/neutron-metadata-agent-wrapper-scripts-d6163080d169ea14.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

horizon: pin pip to <25.3
  docker/horizon/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Remove container image of neutron-linuxbridge-agent
  docker/neutron/neutron-linuxbridge-agent/Dockerfile.j2
  releasenotes/notes/drop-neutron-linuxbridge-agent-5c4596f148c143ed.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Add httpd image for OIDC/SAML frontend in uWSGI case
  docker/httpd/Dockerfile.j2
  docker/httpd/extend_start.sh
Due: kolla-base, kolla-build-no-infra-wheels-base

CI: Fix publish secret for arm64
  zuul.d/debian.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base

Update master for stable/2025.2
  releasenotes/source/2025.2.rst
  releasenotes/source/index.rst
Due: none

horizon: unpin pip and setuptools
  docker/horizon/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

CI: Fix missing variable in publish jobs
  zuul.d/debian.yaml
  zuul.d/rocky.yaml
  zuul.d/ubuntu.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base

Drop Venus images
  README.rst
  docker/horizon/extend_start.sh
  docker/venus/venus-api/Dockerfile.j2
  docker/venus/venus-api/extend_start.sh
  docker/venus/venus-base/Dockerfile.j2
  docker/venus/venus-base/extend_start.sh
  docker/venus/venus-manager/Dockerfile.j2
  kolla/common/sources.py
  kolla/common/users.py
  releasenotes/notes/drop-venus-435234b3bff7f209.yaml
  roles/kolla-build-config/defaults/main.yml
Due: kolla-base, kolla-build-no-infra-wheels-base

debian: use valkey from bookworm-backports
  docker/valkey/valkey-sentinel/Dockerfile.j2
  docker/valkey/valkey-server/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Path conditions:
  kolla-base: unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$
  kolla-build-no-infra-wheels-base: unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$
  kolla-ansible-debian-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-rocky9-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-rocky9-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-rocky9-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-rocky9-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-rocky9-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-prometheus-opensearch: any of: ^docker/(base|opensearch|fluentd|grafana|prometheus)/
  kolla-ansible-rocky9-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-source-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-ubuntu-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-source-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-ubuntu-source-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-ubuntu-source-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-source-linuxbridge-focal: any of: ^docker/(base|neutron|openstack-base)/
  kolla-ansible-ubuntu-source-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-prometheus-efk-focal: any of: ^docker/(base|elasticsearch|fluentd|grafana|kibana|prometheus)/
  kolla-ansible-ubuntu-source-kvm: any of: ^docker/nova/
