Repository stackhpc/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal, kolla-ansible-ubuntu-source-kvm

Path conditions:
  kolla-base: unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$
  kolla-build-no-infra-wheels-base: unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$
  kolla-ansible-debian-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-rocky9-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-rocky9-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-rocky9-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-rocky9-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-rocky9-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-prometheus-opensearch: any of: ^docker/(base|opensearch|fluentd|grafana|prometheus)/
  kolla-ansible-rocky9-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-source-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-ubuntu-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-source-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-ubuntu-source-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-ubuntu-source-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-source-linuxbridge-focal: any of: ^docker/(base|neutron|openstack-base)/
  kolla-ansible-ubuntu-source-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-prometheus-efk-focal: any of: ^docker/(base|elasticsearch|fluentd|grafana|kibana|prometheus)/
  kolla-ansible-ubuntu-source-kvm: any of: ^docker/nova/

CI: Remove npm proxy configuration
  tests/templates/template_overrides.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Move PIP_* env variables to ARG and config
  doc/source/admin/image-building.rst
  docker/base/Dockerfile.j2
  kolla/common/config.py
  kolla/image/kolla_worker.py
  kolla/image/tasks.py
  releasenotes/notes/pip-build-args-3e222f6a67c57407.yaml
  tests/playbooks/run.yml
  tests/templates/template_overrides.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

testo
  docker/ovn/ovn-base/Dockerfile.j2
  docker/ovn/ovn-controller/Dockerfile.j2
  docker/ovn/ovn-nb-db-server/Dockerfile.j2
  docker/ovn/ovn-northd/Dockerfile.j2
  docker/ovn/ovn-sb-db-server/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Try provenance
  kolla/image/tasks.py
Due: kolla-base, kolla-build-no-infra-wheels-base

feat: automatic update of workflows master
  .github/workflows/upstream-sync.yml
Due: none

Ensure openvswitch-base children get ovs repo
  docker/ovn/ovn-base/Dockerfile.j2
  docker/ovn/ovn-controller/Dockerfile.j2
  docker/ovn/ovn-nb-db-server/Dockerfile.j2
  docker/ovn/ovn-northd/Dockerfile.j2
  docker/ovn/ovn-sb-db-server/Dockerfile.j2
  releasenotes/notes/bug-2163314-d99dd8d0f7a76a95.yaml
  tests/templates/repos.yaml.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Change docker requirement to allow 7.0.0
  requirements.txt
Due: kolla-base, kolla-build-no-infra-wheels-base

Add ironic-novncproxy container image
  docker/ironic/ironic-novncproxy/Dockerfile.j2
  releasenotes/notes/ironic-novncproxy-ca5304aeeab9474b.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-ironic, kolla-ansible-ubuntu-source-ironic

Add ironic-vnc-container container image
  docker/base/Dockerfile.j2
  docker/ironic/ironic-vnc-container/Dockerfile.j2
  kolla/template/repos.yaml
  releasenotes/notes/ironic-vnc-container-7bc02dbf653ca4b1.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

feat: add `docker-ce-cli` to `ironic-conductor`
  docker/ironic/ironic-conductor/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-ironic, kolla-ansible-ubuntu-source-ironic

Initial changes
  kolla/docker/base/Dockerfile.j2
  kolla/docker/ironic/ironic-vnc-container/Dockerfile.j2
  kolla/template/repos.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base

Correct mozilla PPA location
  kolla/template/repos.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base

Test debian build
  kolla/docker/ironic/ironic-vnc-container/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Make user dir
  kolla/docker/ironic/ironic-vnc-container/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Don't use firefox user
  kolla/docker/ironic/ironic-vnc-container/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Use dynamic firefox name to launch
  kolla/docker/ironic/ironic-vnc-container/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Set kiosk flag
  kolla/docker/ironic/ironic-vnc-container/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Use firefox script
  kolla/docker/ironic/ironic-vnc-container/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Set firefox profile dir
  kolla/docker/ironic/ironic-vnc-container/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

enable debug
  kolla/docker/ironic/ironic-vnc-container/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Move profile
  kolla/docker/ironic/ironic-vnc-container/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Add empty missing JS files
  kolla/docker/ironic/ironic-vnc-container/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Launch python script
  kolla/docker/ironic/ironic-vnc-container/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Fix incorrect path
  kolla/docker/ironic/ironic-vnc-container/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Add debug logging to base
  kolla/docker/base/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Set correct extension path for Debian
  kolla/docker/ironic/ironic-vnc-container/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Disable debug
  kolla/docker/ironic/ironic-vnc-container/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

Remove loop
  kolla/docker/ironic/ironic-vnc-container/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base
