Repository stackhpc/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal, kolla-ansible-ubuntu-source-kvm

kolla-base:
  parent: base
  timeout: 10800
  post-timeout: 10800
  pre-run: tests/playbooks/pre.yml
  run: tests/playbooks/run.yml
  post-run: tests/playbooks/post.yml
  attempts: 5
  vars:
    publisher: false
  extra-vars:
    kolla_logs_dir: '{{ zuul_output_dir }}/logs/kolla'
    kolla_build_logs_dir: '{{ kolla_logs_dir }}/build'
  ...

kolla-build-no-infra-wheels-base:
  parent: kolla-base
  vars:
    use_infra_wheels_mirror: false

Add support for aarch64 ipxe to ironic-pxe image
  docker/ironic/ironic-pxe/Dockerfile.j2
  docker/ironic/ironic-pxe/extend_start.sh
  releasenotes/notes/aarch64-ipxe-51888a5972528d77.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-ironic, kolla-ansible-ubuntu-source-ironic

Add libnetfilter-log to l3 agent container
  docker/neutron/neutron-l3-agent/Dockerfile.j2
  releasenotes/notes/fix-fwaas-l3-log-aed85e0782dece8d.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Added libvirt dependency to nova-libvirt debian based containers
  docker/nova/nova-libvirt/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-source-kvm

Ironic: Add ESP image for UEFI virtual media
  docker/ironic/ironic-pxe/Dockerfile.j2
  docker/ironic/ironic-pxe/extend_start.sh
  releasenotes/notes/ironic-esp-image-886b5fb5b01e7b56.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-ironic, kolla-ansible-ubuntu-source-ironic

Fix preparation of /tftpboot for ironic-pxe
  docker/ironic/ironic-pxe/extend_start.sh
  releasenotes/notes/el-aarch64-ipxe-snponly-e7fc23bdc7edfe3d.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-ironic, kolla-ansible-ubuntu-source-ironic

[2024.1 only] Extend base_tag check to cover more ubuntu base image tags
  docker/base/Dockerfile.j2
  docker/bifrost/bifrost-base/Dockerfile.j2
  docker/cinder/cinder-base/Dockerfile.j2
  kolla/image/kolla_worker.py
  kolla/template/methods.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

Update prometheus alertmanager to newest available version
  kolla/common/sources.py
  releasenotes/notes/update-alertmanager-a7291d4d43423657.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base

foo
  README.rst
Due: none

Update prometheus alertmanager to newest available version
  kolla/common/sources.py
  releasenotes/notes/update-prometheus-services-dd195876e162251c.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base

feat: automatic update of workflows master
  .github/workflows/upstream-sync.yml
Due: none

feat: automatic update of workflows stackhpc/2025.1
  .github/workflows/tag-and-release.yml
  .github/workflows/tox.yml
Due: none

feat: automatic update of community files stackhpc/2025.1
  .github/CODEOWNERS
Due: none

Fix lines in documencation [trivial]
  doc/source/admin/image-building.rst
Due: none

kolla-toolbox: Fix apt_preferences_rabbitmq.ubuntu link
  docker/kolla-toolbox/apt_preferences_rabbitmq.ubuntu
Due: kolla-base, kolla-build-no-infra-wheels-base

Drop environments for nose
  tox.ini
Due: none

[base] Ensure full control over APT sources for Ubuntu
  docker/base/Dockerfile.j2
  docker/base/sources.list.ubuntu
  releasenotes/notes/bug-2112140-41a1924c260e531c.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

zuul: make failing job temporarily non-voting
  .zuul.d/debian.yaml
Due: none

[mariadb] Fix incremental backup using correct base dir
  docker/mariadb/mariadb-server/backup.sh
  docker/mariadb/mariadb-server/backup_replica.sh
  releasenotes/notes/bug-2111620-e40e1dec6fed309f.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-mariadb, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-mariadb

debian: Use bookworkm suite for rabbitmq APT repo
  kolla/template/repos.yaml
  kolla/tests/test_methods.py
  releasenotes/notes/debian-rabbitmq-bookworm-34b2e5d9d43241da.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base

debian: Use Epoxy extrepo
  docker/base/Dockerfile.j2
  releasenotes/notes/debian-epoxy-f68eb3e911f5fea3.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

Bump etcd to 3.5.21
  kolla/common/sources.py
Due: kolla-base, kolla-build-no-infra-wheels-base

Bump letsencrypt-lego to v4.23.1
  kolla/common/sources.py
Due: kolla-base, kolla-build-no-infra-wheels-base

Bump magnum-conductor-plugin-helm to v3.18.0
  kolla/common/sources.py
Due: kolla-base, kolla-build-no-infra-wheels-base

Bumping prometheus stack to latest
  kolla/common/sources.py
Due: kolla-base, kolla-build-no-infra-wheels-base

Bump magnum-conductor-plugin-helm to v3.18.2
  kolla/common/sources.py
Due: kolla-base, kolla-build-no-infra-wheels-base

Remove dibbler from neutron-l3-agent
  docker/neutron/neutron-l3-agent/Dockerfile.j2
  releasenotes/notes/remove-dibbler-537b80d88f9984f5.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

rabbitmq: Update to 4.1
  docker/kolla-toolbox/Dockerfile.j2
  docker/rabbitmq/Dockerfile.j2
  docker/rabbitmq/apt_preferences_rabbitmq.debian
  docker/rabbitmq/apt_preferences_rabbitmq.ubuntu
  releasenotes/notes/rabbitmq-41-d881d0b6bbf46446.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-cephadm, kolla-ansible-ubuntu-source-cephadm

Fix ProxySQL rule sanity check to support username-based routing
  docker/proxysql/kolla_proxysql_config_sync
Due: kolla-base, kolla-build-no-infra-wheels-base

Revert "[release] Use RDO's Epoxy packages"
  kolla/common/config.py
Due: kolla-base, kolla-build-no-infra-wheels-base

Update OpenSearch and OpenSearch Dashboards to version 3.x
  doc/source/contributor/versions.rst
  docker/base/Dockerfile.j2
  docker/base/opensearch.repo
  kolla/template/repos.yaml
  releasenotes/notes/opensearch-upgrade-9e263a65f015a376.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

Bump proxysql to 3.0.x
  doc/source/contributor/versions.rst
  docker/base/Dockerfile.j2
  docker/base/proxysql.repo
  kolla/template/repos.yaml
  releasenotes/notes/bump-proxysql-version-5669b13bcc3d88fe.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

[2024.2 and earlier]: horizon: Work around pyscss bug
  docker/horizon/extend_start.sh
Due: kolla-base, kolla-build-no-infra-wheels-base

Path conditions:
  kolla-base: unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$
  kolla-build-no-infra-wheels-base: unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$
  kolla-ansible-debian-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-rocky9-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-rocky9-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-rocky9-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-rocky9-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-rocky9-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-prometheus-opensearch: any of: ^docker/(base|opensearch|fluentd|grafana|prometheus)/
  kolla-ansible-rocky9-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-source-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-ubuntu-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-source-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-ubuntu-source-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-ubuntu-source-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-source-linuxbridge-focal: any of: ^docker/(base|neutron|openstack-base)/
  kolla-ansible-ubuntu-source-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-prometheus-efk-focal: any of: ^docker/(base|elasticsearch|fluentd|grafana|kibana|prometheus)/
  kolla-ansible-ubuntu-source-kvm: any of: ^docker/nova/
