Repository stackhpc/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal, kolla-ansible-ubuntu-source-kvm

kolla-base:
  parent: base
  timeout: 10800
  post-timeout: 10800
  pre-run: tests/playbooks/pre.yml
  run: tests/playbooks/run.yml
  post-run: tests/playbooks/post.yml
  attempts: 5
  vars:
    publisher: false
  extra-vars:
    kolla_logs_dir: '{{ zuul_output_dir }}/logs/kolla'
    kolla_build_logs_dir: '{{ kolla_logs_dir }}/build'
  ...

kolla-build-no-infra-wheels-base:
  parent: kolla-base
  vars:
    use_infra_wheels_mirror: false

Add support for aarch64 ipxe to ironic-pxe image
  docker/ironic/ironic-pxe/Dockerfile.j2
  docker/ironic/ironic-pxe/extend_start.sh
  releasenotes/notes/aarch64-ipxe-51888a5972528d77.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-ironic, kolla-ansible-ubuntu-source-ironic

Ironic: Add ESP image for UEFI virtual media
  docker/ironic/ironic-pxe/Dockerfile.j2
  docker/ironic/ironic-pxe/extend_start.sh
  releasenotes/notes/ironic-esp-image-886b5fb5b01e7b56.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-ironic, kolla-ansible-ubuntu-source-ironic

Fix preparation of /tftpboot for ironic-pxe
  docker/ironic/ironic-pxe/extend_start.sh
  releasenotes/notes/el-aarch64-ipxe-snponly-e7fc23bdc7edfe3d.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-ironic, kolla-ansible-ubuntu-source-ironic

Test using downstream oslo.messaging
  docker/openstack-base/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

zun: add wsgi script to use module paths
  docker/zun/zun-base/Dockerfile.j2
  docker/zun/zun-base/app.wsgi
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-zun, kolla-ansible-ubuntu-source-zun

Build RabbitMQ 4.1 in stable releases
  docker/kolla-toolbox/Dockerfile.j2
  docker/kolla-toolbox/apt_preferences_rabbitmq.debian
  docker/kolla-toolbox/apt_preferences_rabbitmq.ubuntu
  docker/rabbitmq/rabbitmq-4-1/Dockerfile.j2
  docker/rabbitmq/rabbitmq-4-1/apt_preferences_rabbitmq.debian
  docker/rabbitmq/rabbitmq-4-1/apt_preferences_rabbitmq.ubuntu
  docker/rabbitmq/rabbitmq-4-1/extend_start.sh
  docker/rabbitmq/rabbitmq-4-1/healthcheck_rabbitmq
  docker/rabbitmq/rabbitmq-4-1/rabbitmq_packages_rpm.centos
  docker/rabbitmq/rabbitmq-4-1/rabbitmq_packages_rpm.rocky
  docker/rabbitmq/rabbitmq/Dockerfile.j2
  docker/rabbitmq/rabbitmq/apt_preferences_rabbitmq.debian
  docker/rabbitmq/rabbitmq/apt_preferences_rabbitmq.ubuntu
  docker/rabbitmq/rabbitmq/extend_start.sh
  docker/rabbitmq/rabbitmq/healthcheck_rabbitmq
  docker/rabbitmq/rabbitmq/rabbitmq_packages_rpm.centos
  docker/rabbitmq/rabbitmq/rabbitmq_packages_rpm.rocky
  kolla/template/repos.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-cephadm, kolla-ansible-ubuntu-source-cephadm

rabbitmq: fix Erlang pin in Debian/Ubuntu
  docker/rabbitmq/apt_preferences_rabbitmq.debian
  docker/rabbitmq/apt_preferences_rabbitmq.ubuntu
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-cephadm, kolla-ansible-ubuntu-source-cephadm

CI: add kolla-ansible zun job to tests
  .zuul.d/ubuntu.yaml
Due: none

Enable EPEL repo for Ceph deps in glance and gnocchi
  docker/glance/glance-base/Dockerfile.j2
  docker/gnocchi/gnocchi-base/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-swift, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-swift

docs: Update contributor guide
  doc/source/contributor/adding-a-new-image.rst
  doc/source/contributor/contributing.rst
Due: none

neutron: Add agents wrappers in the neutron-base image
  docker/neutron/neutron-base/Dockerfile.j2
  docker/neutron/neutron-base/copy-wrappers
  docker/neutron/neutron-base/delete-wrappers
  docker/neutron/neutron-base/dnsmasq
  docker/neutron/neutron-base/haproxy
  docker/neutron/neutron-base/keepalived
  docker/neutron/neutron-base/neutron-keepalived-state-change
  docker/neutron/neutron-base/neutron_sudoers
  docker/neutron/neutron-base/radvd
  docker/neutron/neutron-dhcp-agent/extend_start.sh
  docker/neutron/neutron-l3-agent/Dockerfile.j2
  docker/neutron/neutron-l3-agent/extend_start.sh
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Removing unused macro
  docker/neutron/neutron-l3-agent/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

CI: Drop publishing to DockerHub
  .zuul.d/base.yaml
  .zuul.d/debian.yaml
  .zuul.d/ubuntu.yaml
  tests/playbooks/publish.yml
Due: kolla-base, kolla-build-no-infra-wheels-base

ovn: Fix log permissions
  docker/ovn/ovn-base/extend_start.sh
  docker/ovn/ovn-controller/Dockerfile.j2
  docker/ovn/ovn-controller/extend_start.sh
  docker/ovn/ovn-nb-db-server/Dockerfile.j2
  docker/ovn/ovn-nb-db-server/extend_start.sh
  docker/ovn/ovn-northd/Dockerfile.j2
  docker/ovn/ovn-northd/extend_start.sh
  docker/ovn/ovn-sb-db-relay/Dockerfile.j2
  docker/ovn/ovn-sb-db-relay/extend_start.sh
  docker/ovn/ovn-sb-db-server/Dockerfile.j2
  docker/ovn/ovn-sb-db-server/extend_start.sh
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

neutron: Add docker clients for ML2/OVS improvement
  docker/base/Dockerfile.j2
  docker/base/docker-ce.repo
  docker/neutron/neutron-base/Dockerfile.j2
  kolla/template/repos.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

Adding docker-ce repository for Ubuntu This is needed to support running neutron agents in separate containers.
  kolla/template/repos-noble.yaml
  kolla/template/repos.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base

[2025.1 only] switch rpm distros to Cloud SIG Epoxy repos
  docker/base/CentOS-OpenStack-epoxy.repo
  docker/base/Dockerfile.j2
  docker/base/ci-centos.repo
  docker/base/ci-rocky.repo
  kolla/common/config.py
  tests/templates/template_overrides.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

send empty X-Registry-Auth for anonymous pushes
  kolla/image/tasks.py
  kolla/tests/test_build.py
Due: kolla-base, kolla-build-no-infra-wheels-base

masakari: Ensure log files are owned by masakari user
  docker/masakari/masakari-base/extend_start.sh
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-masakari, kolla-ansible-ubuntu-source-masakari

ironic: Stop copying rootwrap since Ironic dropped it
  docker/ironic/ironic-base/Dockerfile.j2
  docker/ironic/ironic-base/ironic_sudoers
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-ironic, kolla-ansible-ubuntu-source-ironic

mariadb: pin to 10.11.13
  docker/base/mariadb.repo
  kolla/template/repos.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

CI: use opendevmirror for debian/ubuntu builds
  tests/playbooks/run.yml
Due: kolla-base, kolla-build-no-infra-wheels-base

update debian release in support matrix
  doc/source/support_matrix.rst
Due: none

manila: Drop copying of wsgi files
  docker/manila/manila-api/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

keystone: Add local wsgi file
  docker/keystone/keystone-base/Dockerfile.j2
  docker/keystone/keystone-base/wsgi
Due: kolla-base, kolla-build-no-infra-wheels-base

heat: Ensure log files are owned by heat user
  docker/heat/heat-base/extend_start.sh
Due: kolla-base, kolla-build-no-infra-wheels-base

Copy aodh's api-paste to /etc as default
  docker/aodh/aodh-base/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base

telegraf: Deprecate support
  releasenotes/notes/deprecate-telegraf-db2b0b9f30591552.yaml
Due: none

collectd: Deprecate support
  releasenotes/notes/deprecate-collectd-8ba94052bdc9424b.yaml
Due: none

[2024.1 only] Add conditionals for Ubuntu Jammy
  docker/base/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

mariadb: pin to 10.11.13
  docker/base/mariadb.repo
  kolla/template/repos-noble.yaml
  kolla/template/repos.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

debian: Use Epoxy extrepo
  docker/base/Dockerfile.j2
  releasenotes/notes/debian-epoxy-f68eb3e911f5fea3.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

Path conditions:
  kolla-base: unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$
  kolla-build-no-infra-wheels-base: unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$
  kolla-ansible-debian-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-rocky9-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-rocky9-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-rocky9-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-rocky9-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-rocky9-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-prometheus-opensearch: any of: ^docker/(base|opensearch|fluentd|grafana|prometheus)/
  kolla-ansible-rocky9-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-source-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-ubuntu-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-source-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-ubuntu-source-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-ubuntu-source-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-source-linuxbridge-focal: any of: ^docker/(base|neutron|openstack-base)/
  kolla-ansible-ubuntu-source-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-prometheus-efk-focal: any of: ^docker/(base|elasticsearch|fluentd|grafana|kibana|prometheus)/
  kolla-ansible-ubuntu-source-kvm: any of: ^docker/nova/
