Repository stackhpc/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-mariadb, kolla-ansible-centos8s-source-masakari, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-centos8s-source-prometheus-efk, kolla-ansible-centos8s-source-kvm, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal, kolla-ansible-ubuntu-source-kvm

Path conditions:
  kolla-ansible-centos8s-source-bifrost: any of: ^docker\/(base|bifrost|openstack-base)\/.*
  kolla-ansible-centos8s-source-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-centos8s-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-centos8s-source-scenario-nfv: any of: ^docker\/(base|barbican|heat|mistral|openstack-base|redis|tacker)\/.*
  kolla-ansible-centos8s-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-centos8s-source-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-centos8s-source-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-centos8s-source-masakari: any of: ^docker/(base|masakari)/
  kolla-ansible-centos8s-source-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-centos8s-source-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-centos8s-source-prometheus-efk: any of: ^docker/(base|elasticsearch|fluentd|grafana|kibana|prometheus)/
  kolla-ansible-centos8s-source-kvm: any of: ^docker/nova/
  kolla-ansible-debian-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-rocky9-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-rocky9-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-rocky9-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-rocky9-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-rocky9-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-prometheus-opensearch: any of: ^docker/(base|opensearch|fluentd|grafana|prometheus)/
  kolla-ansible-rocky9-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-source-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-ubuntu-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-source-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-ubuntu-source-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-ubuntu-source-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-source-linuxbridge-focal: any of: ^docker/(base|neutron|openstack-base)/
  kolla-ansible-ubuntu-source-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-prometheus-efk-focal: any of: ^docker/(base|elasticsearch|fluentd|grafana|kibana|prometheus)/
  kolla-ansible-ubuntu-source-kvm: any of: ^docker/nova/

Use stackhpc upper constraints for kolla-toolbox
  docker/kolla-toolbox/Dockerfile.j2
Due: none

Revert "Use stackhpc upper constraints for kolla-toolbox"
  docker/kolla-toolbox/Dockerfile.j2
Due: none

Use stackhpc upper constraints globally
  docker/base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-mariadb, kolla-ansible-centos8s-source-masakari, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-centos8s-source-prometheus-efk, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

Use fixed branch name for testing
  docker/base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-mariadb, kolla-ansible-centos8s-source-masakari, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-centos8s-source-prometheus-efk, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

Use system env var to change UPPER_CONSTRAINTS_FILE
  docker/base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-mariadb, kolla-ansible-centos8s-source-masakari, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-centos8s-source-prometheus-efk, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

Set default ARG to avoid arg not consumed warning
  docker/base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-mariadb, kolla-ansible-centos8s-source-masakari, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-centos8s-source-prometheus-efk, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

Update version for prometheus exporters
  docker/prometheus/prometheus-alertmanager/Dockerfile.j2
  docker/prometheus/prometheus-blackbox-exporter/Dockerfile.j2
  docker/prometheus/prometheus-haproxy-exporter/Dockerfile.j2
  docker/prometheus/prometheus-memcached-exporter/Dockerfile.j2
  docker/prometheus/prometheus-mysqld-exporter/Dockerfile.j2
  docker/prometheus/prometheus-node-exporter/Dockerfile.j2
  docker/prometheus/prometheus-v2-server/Dockerfile.j2
Due: kolla-ansible-centos8s-source-prometheus-efk, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-prometheus-efk-focal

Update prometheus versions
  docker/prometheus/prometheus-blackbox-exporter/Dockerfile.j2
  docker/prometheus/prometheus-cadvisor/Dockerfile.j2
  docker/prometheus/prometheus-msteams/Dockerfile.j2
  docker/prometheus/prometheus-mtail/Dockerfile.j2
  docker/prometheus/prometheus-mysqld-exporter/Dockerfile.j2
  docker/prometheus/prometheus-openstack-exporter/Dockerfile.j2
  docker/prometheus/prometheus-ovn-exporter/Dockerfile.j2
Due: kolla-ansible-centos8s-source-prometheus-efk, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-prometheus-efk-focal

Fix link and checksum for msteams and cadvisor exporter
  docker/prometheus/prometheus-cadvisor/Dockerfile.j2
  docker/prometheus/prometheus-msteams/Dockerfile.j2
Due: kolla-ansible-centos8s-source-prometheus-efk, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-prometheus-efk-focal

Fix mtail exporter architecture condition
  docker/prometheus/prometheus-mtail/Dockerfile.j2
Due: kolla-ansible-centos8s-source-prometheus-efk, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-prometheus-efk-focal

Override bifrost install ansible variable
  docker/bifrost/bifrost-base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost

Fix bash command
  docker/bifrost/bifrost-base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost

use curl to download upper constraints
  docker/bifrost/bifrost-base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost

Fix dockerfile curl step
  docker/bifrost/bifrost-base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost

set extra variable again
  docker/bifrost/bifrost-base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost

Override ANSIBLE_PIP_VERSION for bifrost env setup
  docker/bifrost/bifrost-base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost

Use quote for ANSIBLE_PIP_VERSION
  docker/bifrost/bifrost-base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost

Escape all char of ANSIBLE_PIP_VERSION with backslash
  docker/bifrost/bifrost-base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost

Remove quote
  docker/bifrost/bifrost-base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost

Add upper_constraints_file override for bifrost-base
  docker/bifrost/bifrost-base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost

Fix extra-var position
  docker/bifrost/bifrost-base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost

feat: automatic update of workflows master
  .github/workflows/upstream-sync.yml
Due: none

feat: automatic update of workflows stackhpc/2024.1
  .github/workflows/tag-and-release.yml
  .github/workflows/tox.yml
Due: none

feat: automatic update of community files stackhpc/2024.1
  .github/CODEOWNERS
Due: none

Add cASO Docker image
  docker/caso/Dockerfile.j2
  docker/caso/extend_start.sh
  kolla/common/users.py
Due: none

Use inverse grep again
  docker/openstack-base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

monitor directory
  docker/openstack-base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Change target file path to absolute path
  docker/macros.j2
Due: none

Check keystone plugins
  docker/keystone/keystone/Dockerfile.j2
Due: none

Test inverse grep
  docker/openstack-base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Use relative path instead
  docker/openstack-base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

try old symlinking but with relative path
  docker/openstack-base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Revert "Change target file path to absolute path"
  docker/macros.j2
Due: none

find upper-constraints.txt
  docker/openstack-base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

set correct symlink
  docker/openstack-base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Check after symlink
  docker/openstack-base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Try removing pycadf after pip install of openstack-base
  docker/openstack-base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Add missing backslash
  docker/openstack-base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Test moving out plugins
  docker/openstack-base/Dockerfile.j2
Due: kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn
