Repository stackhpc/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal, kolla-ansible-ubuntu-source-kvm

Ensure /requirement direcoty exists
  docker/openstack-base/Dockerfile.j2
Due: kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Fix directory for symlink checking
  docker/openstack-base/Dockerfile.j2
Due: kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Test symlink pattern matching
  docker/openstack-base/Dockerfile.j2
Due: kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Use antelope symlinking
  docker/openstack-base/Dockerfile.j2
Due: kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Try old symlinking
  docker/openstack-base/Dockerfile.j2
Due: kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Revert "Try old symlinking"
  docker/openstack-base/Dockerfile.j2
Due: kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Apply temporary fix for Caracal keystone builds (#333)
  docker/keystone/keystone/Dockerfile.j2
  docker/openstack-base/Dockerfile.j2
Due: kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Move pycadf directory instead of symlinking
  docker/openstack-base/Dockerfile.j2
Due: kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

feat: automatic update of workflows master
  .github/workflows/upstream-sync.yml
Due: none

Split all shell commands for command failure check
  docker/prometheus/prometheus-memcached-exporter/Dockerfile.j2
Due: kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-prometheus-efk-focal

More investigation
  docker/prometheus/prometheus-memcached-exporter/Dockerfile.j2
Due: kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-prometheus-efk-focal

Remove debugging docker instructions
  docker/keystone/keystone/Dockerfile.j2
Due: none

Remove pycadf unlinking
  docker/openstack-base/Dockerfile.j2
Due: kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

Revert "Pin OpenSearch Dashboards to 2.15"
  docker/opensearch/opensearch-dashboards/Dockerfile.j2
  docker/opensearch/opensearch-dashboards/apt_preferences_opensearch_dashboards
  releasenotes/notes/bug-2077319-a47a06175a589a1a.yaml
Due: kolla-ansible-rocky9-prometheus-opensearch

Add missing iso packages to ironic-conductor
  docker/ironic/ironic-conductor/Dockerfile.j2
  releasenotes/notes/ironic-packages-009b388b10fab6f0.yaml
Due: kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-ironic, kolla-ansible-ubuntu-source-ironic

Add Let's Encrypt EAB support
  docker/letsencrypt/letsencrypt-lego/letsencrypt-certificates.sh
  releasenotes/notes/add-letsencrypt-eab-support-0ec1a60f1602662e.yaml
Due: none

Set bifrost requirements folder to openstack-base checkout
  docker/bifrost/bifrost-base/Dockerfile.j2
Due: none

Set upper_constraints_file from openstack-base checkout
  docker/bifrost/bifrost-base/Dockerfile.j2
Due: none

Update sources.py for prometheus CVEs
  kolla/common/sources.py
Due: none

Update sources for prometheus versions
  kolla/common/sources.py
Due: none

Change logic for plugins in grafana image build
  doc/source/admin/image-building.rst
  docker/grafana/Dockerfile.j2
  releasenotes/notes/merge-grafana-plugins-b9a837b9fccff691.yaml
Due: kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-prometheus-efk-focal

Remove gnocchi datasource due to no angular plugin requirement
  docker/grafana/Dockerfile.j2
Due: kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-prometheus-efk-focal

Update Let's Encrypt lego version
  kolla/common/sources.py
  releasenotes/notes/update-letsencrypt-version-36a0cd7d2997c6c7.yaml
Due: none

Fix EAB support in letsencrypt
  docker/letsencrypt/letsencrypt-lego/letsencrypt-certificates.sh
Due: none

Adds ironic-pxe-filter container
  docker/ironic/ironic-pxe-filter/Dockerfile.j2
  docker/ironic/ironic-pxe-filter/extend_start.sh
Due: kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-ironic, kolla-ansible-ubuntu-source-ironic

Add ovn-sb-db-relay image with newer ovn-ctl
  docker/ovn/ovn-sb-db-relay/Dockerfile.j2
Due: kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn

feat: automatic update of workflows stackhpc/master
  .github/workflows/tag-and-release.yml
  .github/workflows/tox.yml
Due: none

feat: automatic update of community files stackhpc/master
  .github/CODEOWNERS
Due: none

Prometheus update all exporters to the latest versions
  kolla/common/sources.py
  releasenotes/notes/update-prometheus-services-dd195876e162251c.yaml
Due: none

Adds missing nvme package in cinder-backup
  docker/cinder/cinder-base/Dockerfile.j2
  docker/cinder/cinder-volume/Dockerfile.j2
Due: kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun

Upgrade Prometheus to v3
  docker/prometheus/prometheus-server/Dockerfile.j2
  kolla/common/sources.py
  releasenotes/notes/upgrade-prometheus-to-v3-d305280498e0fcaf.yaml
Due: kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-prometheus-efk-focal

Revert "[release] Use RDO's Epoxy packages"
  kolla/common/config.py
Due: none

Extend base_tag check to cover more ubuntu base image tags
  docker/base/Dockerfile.j2
  docker/bifrost/bifrost-base/Dockerfile.j2
  docker/cinder/cinder-base/Dockerfile.j2
  kolla/image/kolla_worker.py
  kolla/template/methods.py
Due: kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge-focal, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk-focal

bifrost: bump Ansible version to 11
  docker/bifrost/bifrost-base/Dockerfile.j2
  releasenotes/notes/bifrost-ansible-11-d14b635f9f766675.yaml
Due: none

Path conditions:
  kolla-ansible-debian-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-rocky9-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-rocky9-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-rocky9-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-rocky9-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-rocky9-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-prometheus-opensearch: any of: ^docker/(base|opensearch|fluentd|grafana|prometheus)/
  kolla-ansible-rocky9-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-source-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-ubuntu-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-source-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-ubuntu-source-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-ubuntu-source-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-source-linuxbridge-focal: any of: ^docker/(base|neutron|openstack-base)/
  kolla-ansible-ubuntu-source-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-prometheus-efk-focal: any of: ^docker/(base|elasticsearch|fluentd|grafana|kibana|prometheus)/
  kolla-ansible-ubuntu-source-kvm: any of: ^docker/nova/
